.sidebar-menu{
    background-color: var(--main_bg_green);
    height: 100vh;
    padding: 1.5rem;
    color: var(--black);
    display: inline-flex;
    flex-direction: column;
    font-family: fontRegular;
}

.container-logo {
    //display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-menu .nave-links{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: 100%;
    margin-top: 2rem;
    height: 82vh;
}

.nave-links a, .logout a{
    font-size: 24px;
    color: var(--black);
    padding: 0.5rem;
    width: 100%;
    display: flex;
    border-radius: 12px;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}


.nave-links li .select:hover{
    color: var(--white);
    background-color: var(--black);
}

.nave-links li .select:hover .icon{
    transition-duration: .3s;
    filter: invert(100%);
}

.nave-links li .now .icon, .logout li .container-user a:hover{
    transition-duration: .3s;
    filter: invert(100%);
}

.nave-links li .now{
    color: var(--white);
    background-color: var(--black);
}

.logout li .container-user{
    display: flex;
    gap: 1.5rem;
}

.logout li .container-user a{
    display: grid;
    place-items: center;
}

.logout li .container-user a:hover {
    transition-duration: 0.3s;
    background-color: rgb(255, 255, 255);
}

.logout li .container-user .user-content {
    font-family: fontBold;
    align-self: center;
    white-space: nowrap
}

.logout li .container-user .user-content .user-name{
    font-size: 24px;
}

.logout li .container-user .user-content .user-email{
    font-size: 12px;
}